@namespace BlazorForm
@inherits BlazorFormInputBase
@using System.Collections

<div class="ff-multiselect">
    @foreach (var opt in Field.Options)
    {
        <label class="ff-checkbox">
            <input type="checkbox"
                   value="@opt.Value"
                   checked="@Selected.Contains(opt.Value)"
                   disabled="@(Disabled || opt.Disabled)"
                   @onchange="@(e => Toggle(opt.Value, e.Value is bool b && b))" />
            <span>@opt.Label</span>
        </label>
    }
</div>

@code {
    private HashSet<string> Selected
    {
        get
        {
            var set = new HashSet<string>(StringComparer.Ordinal);
            if (Context.Value is IEnumerable e and not string)
                foreach (var item in e)
                    if (item is not null) set.Add(item.ToString()!);
            return set;
        }
    }

    private Task Toggle(string value, bool isChecked)
    {
        var set = Selected;
        if (isChecked) set.Add(value); else set.Remove(value);
        return Context.SetValueAsync(set.ToList());
    }
}
